* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
}

.top-text {
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}

body {
  background: #ffffff;
  color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  gap: 25px;
  text-align: center;
}

.timer span {
  font-size: 1.8rem;
  display: block;
}

.timer p {
  font-size: 0.6rem;
  letter-spacing: 1px;
  margin-top: 5px;
}

.footer {
  text-align: center;
  font-size: 0.7rem;
  padding: 10px 0;

}
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-gif {
  width: 300px;
  height: auto;
  margin-bottom: 15px;
  margin-top: 0%;
}

.top-text {
  font-size: 0.75rem;
  opacity: 0.8;
  margin-bottom: 1%;
}

.top-text {
  letter-spacing: 2px;
}
